<p [style.color]="highLightColor">
  Test is working fine!
</p>
<h2 [ngClass]="msgClasses">
  Welcome {{name}}

  <br>
  <input type="text" [id]="myId" value="Umar">
  <input type="text" id={{myId}} value="Umar" disabled>
</h2>
<h2 [style.color]="hasError ? 'red' : 'orange'">
  {{name.length}}
</h2>
<h2 [ngStyle]="titleStyles">
  {{name.toUpperCase()}}
</h2>
<h2 class="text-scuccess">
  {{greetUser()}}
</h2>
<h2 [class.text-danger] = "hasError">
  {{2+2}}
</h2>
<h2 [class]="italic">
  {{siteUrl}}
</h2>
